.App {
  text-align: center;
}
.align-row {
  flex-direction : row;
 display : flex;
  justify-content : center
}
.firstWidth {
  width : 35%
}
.secondWidth {
  width : 25%
}
.thirdWidth {
  width : 25%
}
#funnel-chart_Series_0_Point_0 {
 display : none !important;
}
#funnel-chart_datalabel_Series_0_text_0{
  display : none;
}
#funnel-chart_datalabel_Series_0_connector_0{
  display : none;
}
#funnel-chart_Series_0_Point_4{
  fill : #3498db
}
#funnel-chart_Series_0_Point_3{
  fill : #4834d4
}
#funnel-chart_Series_0_Point_2{
  fill : #30336b
}
#funnel-chart_Series_0_Point_1{
  fill : #130f40
}
#charts2_Series_0_Point_4{
  fill : #3498db
}
#charts2_Series_0_Point_5{
  fill : #3498db
}
#charts2_Series_0_Point_1{
  fill : #3498db
}
#charts2_Series_0_Point_2{
  fill : #3498db
}
#charts2_Series_0_Point_3{
  fill : #3498db
}
#charts2_Series_0_Point_0{
  fill : #3498db
}
#charts2_Series_1_Point_3{
  fill : #273c75
}
#charts2_Series_1_Point_1{
  fill : #273c75
}
#charts2_Series_1_Point_2{
  fill : #273c75
}
#charts2_chart_legend_shape_0{
  fill : #3498db
}
#charts2_chart_legend_shape_1{
  fill : #273c75
}
#charts2_Series_1_Point_4{
  fill : #273c75
}
#charts2_Series_1_Point_5{
  fill : #273c75
}
#charts2_Series_1_Point_0{
  fill : #273c75
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#funnel-chart2_Series_0_Point_0 {
  display : none !important;
 }
 #funnel-chart2_datalabel_Series_0_text_0{
   display : none;
 }
 #funnel-chart2_datalabel_Series_0_connector_0{
   display : none;
 }
 #funnel-chart2_Series_0_Point_4{
   fill : #3498db
 }
 #funnel-chart2_Series_0_Point_3{
   fill : #4834d4
 }
 #funnel-chart2_Series_0_Point_2{
   fill : #30336b
 }
 #funnel-chart2_Series_0_Point_1{
   fill : #130f40
 }
.App-link {
  color: #61dafb;
}
#funnel-chart3_Series_0_Point_0 {
  display : none !important;
 }
 #funnel-chart3_datalabel_Series_0_text_0{
   display : none;
 }
 #funnel-chart3_datalabel_Series_0_connector_0{
   display : none;
 }
 #funnel-chart3_Series_0_Point_4{
   fill : #3498db
 }
 #funnel-chart3_Series_0_Point_3{
   fill : #4834d4
 }
 #funnel-chart3_Series_0_Point_2{
   fill : #30336b
 }
 #funnel-chart3_Series_0_Point_1{
   fill : #130f40
 }
 /* fourth funnel */
 #funnel-chart4_Series_0_Point_0 {
  display : none !important;
 }
 #funnel-chart4_datalabel_Series_0_text_0{
   display : none;
 }
 #funnel-chart4_datalabel_Series_0_connector_0{
   display : none;
 }
 #funnel-chart4_Series_0_Point_4{
   fill : #3498db
 }
 #funnel-chart4_Series_0_Point_3{
   fill : #4834d4
 }
 #funnel-chart4_Series_0_Point_2{
   fill : #30336b
 }
 #funnel-chart4_Series_0_Point_1{
   fill : #130f40
 }

 /* fifth funnel */
 #funnel-chart5_Series_0_Point_0 {
  display : none !important;
 }
 #funnel-chart5_datalabel_Series_0_text_0{
   display : none;
 }
 #funnel-chart5_datalabel_Series_0_connector_0{
   display : none;
 }
 #funnel-chart5_Series_0_Point_4{
   fill : #3498db
 }
 #funnel-chart5_Series_0_Point_3{
   fill : #4834d4
 }
 #funnel-chart5_Series_0_Point_2{
   fill : #30336b
 }
 #funnel-chart5_Series_0_Point_1{
   fill : #130f40
 }
  /* sixth funnel */
  #funnel-chart6_Series_0_Point_0 {
    display : none !important;
   }
   #funnel-chart6_datalabel_Series_0_text_0{
     display : none;
   }
   #funnel-chart6_datalabel_Series_0_connector_0{
     display : none;
   }
   #funnel-chart6_Series_0_Point_4{
     fill : #3498db
   }
   #funnel-chart6_Series_0_Point_3{
     fill : #4834d4
   }
   #funnel-chart6_Series_0_Point_2{
     fill : #30336b
   }
   #funnel-chart6_Series_0_Point_1{
     fill : #130f40
   }
     /* seventh funnel */
  #funnel-chart7_Series_0_Point_0 {
    display : none !important;
   }
   #funnel-chart7_datalabel_Series_0_text_0{
     display : none;
   }
   #funnel-chart7_datalabel_Series_0_connector_0{
     display : none;
   }
   #funnel-chart7_Series_0_Point_4{
     fill : #3498db
   }
   #funnel-chart7_Series_0_Point_3{
     fill : #4834d4
   }
   #funnel-chart7_Series_0_Point_2{
     fill : #30336b
   }
   #funnel-chart7_Series_0_Point_1{
     fill : #130f40
   }
        /* eigth funnel */
  #funnel-chart8_Series_0_Point_0 {
    display : none !important;
   }
   #funnel-chart8_datalabel_Series_0_text_0{
     display : none;
   }
   #funnel-chart8_datalabel_Series_0_connector_0{
     display : none;
   }
   #funnel-chart8_Series_0_Point_4{
     fill : #3498db
   }
   #funnel-chart8_Series_0_Point_3{
     fill : #4834d4
   }
   #funnel-chart8_Series_0_Point_2{
     fill : #30336b
   }
   #funnel-chart8_Series_0_Point_1{
     fill : #130f40
   }
   /* ninth channel */
   #funnel-chart9_Series_0_Point_0 {
    display : none !important;
   }
   #funnel-chart9_datalabel_Series_0_text_0{
     display : none;
   }
   #funnel-chart9_datalabel_Series_0_connector_0{
     display : none;
   }
   #funnel-chart9_Series_0_Point_4{
     fill : #3498db
   }
   #funnel-chart9_Series_0_Point_3{
     fill : #4834d4
   }
   #funnel-chart9_Series_0_Point_2{
     fill : #30336b
   }
   #funnel-chart9_Series_0_Point_1{
     fill : #130f40
   }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
